:root {
  /* App Colors */
  --color-primary: var(--color-beige);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-purple);
  --color-accent-variant: var(--color-yellow);
  --color-text: var(--color-black);

  /* Colors */
  --color-black: #0b0e19;
  --color-gray: #1b1e26;
  --color-beige: #f5f5f5;
  --color-yellow: #fac746;
  --color-purple: #884bf1;

  /* Background */
  --home-bg-gradient: linear-gradient(
    180deg,
    rgba(20, 50, 103, 1) 0%,
    rgba(5, 10, 19, 1) 100%
  );

  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", "Nunito Sans", sans-serif;
  color: var(--color-text);
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}

button:focus {
  outline: 1px solid transparent;
}

/* Common */
.section {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 1rem;
  padding: 4rem;
  box-sizing: border-box;
  border-bottom: 0.1rem solid var(--color-primary);
}

.max-container {
  max-width: var(--size-max-width);
}

.title {
  font-size: 2rem;
  margin: 1rem 0;
}

.description {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.english {
  font-family: "Nunito Sans", "Noto Sans KR";
}
